.App {
  text-align: center;
}

.BackColor {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;
}

.GlobalButton {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #09d3ac;
}

.App-logo {
  height: 30vmin;
}

.MedTitles {
  font-size: 140%;
}

.Advisors {
  font-size: 20%;
}

.Font-Link {
  font-size: large;
  color: #8909d3;
}
